.card-row{
    justify-content: center;
    
}
.category-section{
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}
/* .category-section Button{
    background-color: rgba(255, 166, 0, 0.726);
} */
.h5-category{
    color: darkorange;
}